In [39]:
### install packages ###
import pandas as pd
import geopy
from geopy.distance import geodesic 
import numpy as np
from pandas import DataFrame

In [40]:
### View dataframe ###
cities_df = pd.read_excel('XXXXXXX.xlsx')
cities_df.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,zips
0,Oklahoma City,Oklahoma City,OK,Oklahoma,40109,Oklahoma,35.4676,-97.5136,972943,73012 73013 73099 73097 73119 73118 73114 7311...
1,Tulsa,Tulsa,OK,Oklahoma,40143,Tulsa,36.1284,-95.9042,671033,74133 74134 74135 74132 74130 74136 74137 7414...
2,Norman,Norman,OK,Oklahoma,40027,Cleveland,35.2335,-97.3471,116973,73019 73026 74857 73072 73071 73069 73068 73070
3,Broken Arrow,Broken Arrow,OK,Oklahoma,40143,Tulsa,36.0365,-95.7809,110198,74014 74011 74012 74013 74102
4,Edmond,Edmond,OK,Oklahoma,40109,Oklahoma,35.6689,-97.4159,94054,73012 73013 73007 73003 73034 73083

In [41]:
cities_df.shape

(739, 10)

In [49]:
## This creates a function to refer to the lattitude of a city ###
def lat(City):
    ic=(cities_df[cities_df["city"]==City].index.values)
    lat2 = cities_df.loc[ic,'lat'].values[0]
    return lat2

In [50]:
### This creates a function to refer to the longitude of a city ###
def lngt(City):
    ic=(cities_df[cities_df["city"]==City].index.values)
    lng2 = cities_df.loc[ic,'lng'].values[0]
    return lng2

In [51]:
ok = lngt("Oklahoma City")
print(ok)

-97.5136

In [52]:
### This creates a function to calculate the distance of each city from eachother geospatially ###
def distancefrom2coodf(City):
    #(a,b)=getcoord(City)
    a=lat(City)
    b=lngt(City)
    rowsfunc = []
    i = 0
    while i<739: 
        lati = cities_df.loc[i, 'lat']
        long = cities_df.loc[i, 'lng']
        coords_1 = (lati, long)
        coords_2 = (a, b)
        distance_okc = geodesic(coords_1, coords_2).miles
        rowsfunc.append(distance_okc)
        i+=1
    return rowsfunc

In [53]:
cities_df['tulsa_distance'] = distancefrom2coodf("Tulsa")
cities_df['okc_distance'] = distancefrom2coodf("Oklahoma City")
cities_df['Norman_distance'] = distancefrom2coodf("Norman")
cities_df['BrokenArrow_distance'] = distancefrom2coodf("Broken Arrow")
cities_df['Edmond_distance'] = distancefrom2coodf("Edmond")
cities_df['Lawton_distance'] = distancefrom2coodf("Lawton")
cities_df['Moore_distance'] = distancefrom2coodf("Moore")
cities_df['Midwest_distance'] = distancefrom2coodf("Midwest City")
cities_df['Stw_distance'] = distancefrom2coodf("Stillwater")
cities_df['enid_distance'] = distancefrom2coodf("Enid")

In [54]:
cities_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,zips,tulsa_distance,okc_distance,Norman_distance,BrokenArrow_distance,Edmond_distance,Lawton_distance,Moore_distance,Midwest_distance,Stw_distance,enid_distance
0,Oklahoma City,Oklahoma City,OK,Oklahoma,40109,Oklahoma,35.4676,-97.5136,972943,73012 73013 73099 73097 73119 73118 73114 7311...,101.225649,0.000000,18.678683,104.977839,14.929329,77.947033,9.770214,8.054648,52.012911,67.722781
1,Tulsa,Tulsa,OK,Oklahoma,40143,Tulsa,36.1284,-95.9042,671033,74133 74134 74135 74132 74130 74136 74137 7414...,0.000000,101.225649,101.948569,9.368469,90.524521,176.149083,104.117073,94.293594,65.430428,111.422320
2,Norman,Norman,OK,Oklahoma,40027,Cleveland,35.2335,-97.3471,116973,73019 73026 74857 73072 73071 73069 73068 73070,101.948569,18.678683,0.000000,104.089382,30.266523,74.263379,9.825807,15.878563,63.794798,86.012873
3,Broken Arrow,Broken Arrow,OK,Oklahoma,40143,Tulsa,36.0365,-95.7809,110198,74014 74011 74012 74013 74102,9.368469,104.977839,104.089382,0.000000,95.205013,178.326987,107.077398,97.715473,72.665011,119.466624
4,Edmond,Edmond,OK,Oklahoma,40109,Oklahoma,35.6689,-97.4159,94054,73012 73013 73007 73003 73034 73083,90.524521,14.929329,30.266523,95.205013,0.000000,92.123743,23.654648,14.419658,37.222481,56.836277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,Hoot Owl,Hoot Owl,OK,Oklahoma,40097,Mayes,36.3600,-95.1214,4,74365,46.545631,147.597675,147.168595,43.079618,137.069848,221.399992,150.049825,140.505640,110.183344,153.275859
735,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,74063,17.057261,86.458823,89.141838,24.878059,74.887635,162.803753,90.241174,79.965072,48.374937,94.625320
736,Deer Lick,Deer Lick,OK,Oklahoma,40041,Delaware,36.4595,-94.7468,0,74346,68.516539,169.481671,168.661956,64.699675,159.040730,242.816117,171.775481,162.334115,131.842802,174.053472
737,Capron,Capron,OK,Oklahoma,40151,Woods,36.8967,-98.5776,0,73717,157.944083,115.089828,133.767840,166.659540,106.639500,157.378553,124.409858,119.669340,98.927357,51.861183
738,Carlton Landing,Carlton Landing,OK,Oklahoma,40121,Pittsburg,35.2048,-95.5447,0,74432,66.810450,112.688666,101.983505,58.860723,110.313959,168.226210,109.517388,104.689186,107.165692,154.640300

In [60]:
### This creates distance from closest city with at least 100,000 population ###
j=0
closemetro =[]
while j<739: 
    closestmetro=min(cities_df.loc[j,'tulsa_distance'],cities_df.loc[j,'okc_distance'])
    closemetro.append(closestmetro)
    j+=1
cities_df['ht_metro']=closemetro

In [61]:
cities_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,zips,...,okc_distance,Norman_distance,BrokenArrow_distance,Edmond_distance,Lawton_distance,Moore_distance,Midwest_distance,Stw_distance,enid_distance,ht_metro
0,Oklahoma City,Oklahoma City,OK,Oklahoma,40109,Oklahoma,35.4676,-97.5136,972943,73012 73013 73099 73097 73119 73118 73114 7311...,...,0.000000,18.678683,104.977839,14.929329,77.947033,9.770214,8.054648,52.012911,67.722781,0.000000
1,Tulsa,Tulsa,OK,Oklahoma,40143,Tulsa,36.1284,-95.9042,671033,74133 74134 74135 74132 74130 74136 74137 7414...,...,101.225649,101.948569,9.368469,90.524521,176.149083,104.117073,94.293594,65.430428,111.422320,0.000000
2,Norman,Norman,OK,Oklahoma,40027,Cleveland,35.2335,-97.3471,116973,73019 73026 74857 73072 73071 73069 73068 73070,...,18.678683,0.000000,104.089382,30.266523,74.263379,9.825807,15.878563,63.794798,86.012873,18.678683
3,Broken Arrow,Broken Arrow,OK,Oklahoma,40143,Tulsa,36.0365,-95.7809,110198,74014 74011 74012 74013 74102,...,104.977839,104.089382,0.000000,95.205013,178.326987,107.077398,97.715473,72.665011,119.466624,9.368469
4,Edmond,Edmond,OK,Oklahoma,40109,Oklahoma,35.6689,-97.4159,94054,73012 73013 73007 73003 73034 73083,...,14.929329,30.266523,95.205013,0.000000,92.123743,23.654648,14.419658,37.222481,56.836277,14.929329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,Hoot Owl,Hoot Owl,OK,Oklahoma,40097,Mayes,36.3600,-95.1214,4,74365,...,147.597675,147.168595,43.079618,137.069848,221.399992,150.049825,140.505640,110.183344,153.275859,46.545631
735,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,74063,...,86.458823,89.141838,24.878059,74.887635,162.803753,90.241174,79.965072,48.374937,94.625320,17.057261
736,Deer Lick,Deer Lick,OK,Oklahoma,40041,Delaware,36.4595,-94.7468,0,74346,...,169.481671,168.661956,64.699675,159.040730,242.816117,171.775481,162.334115,131.842802,174.053472,68.516539
737,Capron,Capron,OK,Oklahoma,40151,Woods,36.8967,-98.5776,0,73717,...,115.089828,133.767840,166.659540,106.639500,157.378553,124.409858,119.669340,98.927357,51.861183,115.089828
738,Carlton Landing,Carlton Landing,OK,Oklahoma,40121,Pittsburg,35.2048,-95.5447,0,74432,...,112.688666,101.983505,58.860723,110.313959,168.226210,109.517388,104.689186,107.165692,154.640300,66.810450

In [83]:
### This creates distance from closest city with at least 40,000 population. ###
l=0
closemetro2 =[]
while l<739: 
    closestmetro2=min(cities_df.loc[l,'tulsa_distance'],cities_df.loc[l,'okc_distance'],cities_df.loc[l,'Norman_distance'],cities_df.loc[l,'BrokenArrow_distance'],cities_df.loc[l,'Edmond_distance'], cities_df.loc[l,'Lawton_distance'],cities_df.loc[l,'Moore_distance'],cities_df.loc[l,'Midwest_distance']
                      ,cities_df.loc[l,'Stw_distance']
                      ,cities_df.loc[l,'enid_distance'] )
    closemetro2.append(closestmetro2)
    l+=1
cities_df['ft_metro']=closemetro2

In [108]:
m=0
closemetro1 =[]
while m<739: 
    mminvalue=min(cities_df.loc[m,'tulsa_distance'],
                                             cities_df.loc[m,'okc_distance'],
                                             cities_df.loc[m,'Norman_distance'],
                                             cities_df.loc[m,'BrokenArrow_distance'],
                                             cities_df.loc[m,'Edmond_distance'],
                                             cities_df.loc[m,'Lawton_distance'],
                                             cities_df.loc[m,'Moore_distance'],
                                             cities_df.loc[m,'Midwest_distance'],
                                             cities_df.loc[m,'Stw_distance'],
                                             cities_df.loc[m,'enid_distance'])
    
    if(cities_df.loc[m,'tulsa_distance']==mminvalue):
        kbc='Tulsa'
    elif(cities_df.loc[m,'okc_distance']==mminvalue):
            kbc='Oklahoma City'
    elif(cities_df.loc[m,'Norman_distance']==mminvalue):
            kbc='Norman'
    elif(cities_df.loc[m,'BrokenArrow_distance']==mminvalue):
            kbc='Broken Arrow'
    elif(cities_df.loc[m,'Edmond_distance']==mminvalue):
            kbc='Edmond'
    elif(cities_df.loc[m,'Lawton_distance']==mminvalue):
            kbc='Lawton'
    elif(cities_df.loc[m,'Moore_distance']==mminvalue):
            kbc='Moore'
    elif(cities_df.loc[m,'Midwest_distance']==mminvalue):
            kbc='Midwest City'
    elif(cities_df.loc[m,'Stw_distance']==mminvalue):
            kbc='Stillwater'
    elif(cities_df.loc[m,'enid_distance']==mminvalue):
            kbc='Enid'

    closemetro1.append(kbc)
    m+=1
cities_df['ft_metro_name']=closemetro1

In [110]:
cities_df

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,zips,...,Edmond_distance,Lawton_distance,Moore_distance,Midwest_distance,Stw_distance,enid_distance,ht_metro,ht_metro_name,ft_metro,ft_metro_name
0,Oklahoma City,Oklahoma City,OK,Oklahoma,40109,Oklahoma,35.4676,-97.5136,972943,73012 73013 73099 73097 73119 73118 73114 7311...,...,14.929329,77.947033,9.770214,8.054648,52.012911,67.722781,0.000000,Oklahoma City,0.000000,Oklahoma City
1,Tulsa,Tulsa,OK,Oklahoma,40143,Tulsa,36.1284,-95.9042,671033,74133 74134 74135 74132 74130 74136 74137 7414...,...,90.524521,176.149083,104.117073,94.293594,65.430428,111.422320,0.000000,Tulsa,0.000000,Tulsa
2,Norman,Norman,OK,Oklahoma,40027,Cleveland,35.2335,-97.3471,116973,73019 73026 74857 73072 73071 73069 73068 73070,...,30.266523,74.263379,9.825807,15.878563,63.794798,86.012873,18.678683,Oklahoma City,0.000000,Norman
3,Broken Arrow,Broken Arrow,OK,Oklahoma,40143,Tulsa,36.0365,-95.7809,110198,74014 74011 74012 74013 74102,...,95.205013,178.326987,107.077398,97.715473,72.665011,119.466624,9.368469,Tulsa,0.000000,Broken Arrow
4,Edmond,Edmond,OK,Oklahoma,40109,Oklahoma,35.6689,-97.4159,94054,73012 73013 73007 73003 73034 73083,...,0.000000,92.123743,23.654648,14.419658,37.222481,56.836277,14.929329,Oklahoma City,0.000000,Edmond
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,Hoot Owl,Hoot Owl,OK,Oklahoma,40097,Mayes,36.3600,-95.1214,4,74365,...,137.069848,221.399992,150.049825,140.505640,110.183344,153.275859,46.545631,Tulsa,43.079618,Broken Arrow
735,Lotsee,Lotsee,OK,Oklahoma,40143,Tulsa,36.1334,-96.2091,2,74063,...,74.887635,162.803753,90.241174,79.965072,48.374937,94.625320,17.057261,Tulsa,17.057261,Tulsa
736,Deer Lick,Deer Lick,OK,Oklahoma,40041,Delaware,36.4595,-94.7468,0,74346,...,159.040730,242.816117,171.775481,162.334115,131.842802,174.053472,68.516539,Tulsa,64.699675,Broken Arrow
737,Capron,Capron,OK,Oklahoma,40151,Woods,36.8967,-98.5776,0,73717,...,106.639500,157.378553,124.409858,119.669340,98.927357,51.861183,115.089828,Oklahoma City,51.861183,Enid
738,Carlton Landing,Carlton Landing,OK,Oklahoma,40121,Pittsburg,35.2048,-95.5447,0,74432,...,110.313959,168.226210,109.517388,104.689186,107.165692,154.640300,66.810450,Tulsa,58.860723,Broken Arrow

In [111]:
### Export to excel for analysis in Tableau ###
cities_df.to_excel('XXXXXX.xlsx')